.main-component-style{
  background-image: url('https://image.freepik.com/free-vector/glowing-shiny-musical-notes-background-design_1017-32856.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}